/* 
filename: app.css
name: Joshua Da Costa
id: 301324352
2024-05-28
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
font-family: "Montserrat", sans-serif;
}
.nav-container{
  font-size: 25px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.nav-link{
  text-decoration: none;
}

.icon{
  font-size: 30px;
}

.home-page{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.home-container{
  text-align: center;
  width: 70%;
}

.mission{
  line-height: 30px;
}

.about-container{
  background-color: rgb(208, 208, 241);
  border-radius: 20px;
  margin: 20px;
}

.about-top{
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.me-img{
  border-radius: 50%;
  
}

.about-me{
 margin-left: 30px;
}

.about-p{
font-size: 24px;  
margin-right: 200px;
line-height: 40px;
}

.card-container{
  margin-top: 30px;
}

.card{
  display: flex;
  margin: 40px 0;
  border: 1px solid black;
}

.card p, h2{
  margin-left: 50px;
}

.card p {
font-size: 20px;
line-height: 30px;
}

.services-container{
  
      background-color: rgb(208, 208, 241);
      border-radius: 20px;
      margin: 20px;
    
}

.container{
  background-color: rgb(208, 208, 241);
    border-radius: 20px;
    margin: 20px;
    padding: 30px;
}

.services-container h1{
  margin: 20px;
}

.services-container li {
  font-size: 30px;
  margin-left: 30px;
}